@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @responsive {
        .column-count-2 {
            column-count: 2;
        }
    }
}

@layer components {
    .btn {
        @apply py-2 px-4 font-semibold rounded transition-colors flex
    }
    .btn-primary{
        @apply bg-red-500 text-white hover:bg-opacity-70 focus:outline-none;
    }

    .btn-secondary{
        @apply bg-white border border-grey-200 text-red-500 hover:bg-red-50 hover:border-red-500 focus:outline-none;
    }

    .input-filter{
        @apply mt-1 focus:ring-red-500 focus:border-red-500 block w-full shadow-sm sm:text-sm border-grey-300 rounded-md
    }
}

body, html {
    @apply h-full w-full min-h-full bg-grey-100
}

.slick-track {
    margin: 0 !important;
}

.slick-slide.slick-active .navigation {
    opacity: 80%;
    border: solid 1px transparent;
}

.slick-slide.slick-current .navigation {
    opacity: 100%;
    border: solid 1px white
}
